@font-face {
  font-family: "Retron2000";
  src: url('https://static.wfonts.com/data/2018/11/08/retron2000/Retron2000.woff') format('woff');
}
img {
  width: 400px;
  height: 100px;
}
.title {
  color: magenta;
  font-family: "Retron2000", consolas;
  text-align: center;
  background-color: black;
  text-shadow: 0px 0px 4px purple;
}
.description {
  color: black;
  font-family: "Retron2000", consolas;
  text-align: center;
}
