@font-face {
  font-family: "Retron2000";
  src: url('https://static.wfonts.com/data/2018/11/08/retron2000/Retron2000.woff') format('woff');
img {
  width: 400px;
  height: 100px;
}
h1 {
  font-family: "Oswald";
  color: magenta;
}
.title {
  color: green;
}
